<div class="container">
    <div>
        <h1 style="margin-left: 26%;">Update Contact</h1><br>
    </div>
    <form [formGroup]="updateContact" (ngSubmit)="update()">
        <input type="hidden" formControlName="recordId">
        <div class="form-group row">
            <div class="col-4"> <label>Full Name</label></div>
            <div class="col-8"> <input type="text" class="form-control" formControlName="fullname"></div>
        </div>
        <div class="form-group row">
            <div class="col-4"> <label>Enter Title</label></div>
            <div class="col-8"> <input type="text" class="form-control" formControlName="title"></div>
        </div>
        <div class="form-group row">
            <div class="col-4"> <label>Enter Email</label></div>
            <div class="col-8"> <input type="email" class="form-control" formControlName="email"></div>
        </div>
        <div class="form-group row">
            <div class="col-4"> <label>Enter Phone</label></div>
            <div class="col-8"> <input type="number" class="form-control" formControlName="phone"></div>
        </div>
        <div class="form-group row">
            <div class="col-4"> <label>Enter DOB</label></div>
            <div class="col-8"> <input type="date" class="form-control" formControlName="dob"></div>
        </div>

        <div class="btn-div">
            <button class="btn btn-secondary" (click)="close()">Cancel</button>
            <button class="btn btn-success">Update</button>
        </div>
    </form>
</div>