<mat-progress-bar mode="determinate" [value]="fileUploadProgress" [ngClass]="{hide : progress}"></mat-progress-bar>
<div class="container">
    <div>
        <button type="button" class="close" aria-label="Close" (click)="onclose()">
                <span aria-hidden="true">×</span>
    </button>
        <div>
            <h4 style="margin-left: 36%;margin-bottom: 8%;" *ngIf="dialogType === 'create'">Create New Contact</h4><br>
            <h4 style="margin-left: 36%;margin-bottom: 8%;" *ngIf="dialogType == 'update'">Update Contact</h4><br>
        </div>
        <div>
            <form [formGroup]="newContact" enctype='multipart/form-data'>
                <div *ngIf="dialogType == 'update'"><input type="hidden" formControlName="recordId"></div>
                <div class="profilePic row">
                    <label class="hoverable" for="fileInput">
                        <img [src]="previewUrl ? previewUrl : 'https://www.w3schools.com/howto/img_avatar.png'"> 
                        <div *ngIf="dialogType === 'create'" class="hover-text">Choose file</div>
                        <div *ngIf="dialogType == 'update'" class="hover-text">change picture</div>
                        <div class="background"></div>
                      </label>
                    <br/>
                    <input id="fileInput" type='file' (change)="fileProgress($event)">
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div fxFlex="50%">
                        <div class="matForm">
                            <mat-form-field>
                                <input matInput placeholder="FullName" formControlName="fullname" (keypress)="omitSpecial($event)">
                                <mat-error *ngIf="f.fullname.invalid">{{getErrorMessage('fullname')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="matForm">
                            <mat-form-field>
                                <input matInput placeholder="Title" formControlName="title" (keypress)="omitSpecial($event)">
                                <mat-error *ngIf="f.title.invalid">{{getErrorMessage('title')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="matForm">
                            <mat-form-field>
                                <input matInput placeholder="Email" formControlName="email" required>
                                <mat-error *ngIf="f.email.invalid">{{getErrorMessage('email')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="" class="formDiv">
                        <div class="matForm">
                            <mat-form-field>
                                <input matInput placeholder="Phone" formControlName="phone">
                                <mat-error *ngIf="f.phone.invalid">{{getErrorMessage('phone')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="matForm">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="f.dob.invalid">{{getErrorMessage('dob')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="btn-div">
                            <button class="btn btn-success " id="create" (click)="saveContact()" *ngIf="dialogType === 'create'">Create</button>
                            <button class="btn btn-success " (click)="update()" *ngIf="dialogType === 'update'">Update</button>
                            <button class="btn btn-secondary " (click)="onclose() ">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-pulse-sync">
    </ngx-spinner>
</div>