.btn-success {
    margin-left: 11%;
    margin-right: 12px;
}

.btn-div {
    text-align: center;
}

.hide {
    display: none;
}

.spinner-border {
    position: fixed;
    margin-left: 222px;
}

.form-group {
    margin-left: 37px;
    margin-right: -24px;
}

.matForm {
    position: relative;
    text-align: center;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.hoverable {
    position: relative;
    display: block;
    cursor: pointer;
    height: 80px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 50%;
}

.hoverable .hover-text {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hoverable .background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
}

.hoverable:hover .hover-text {
    display: block;
}

.hoverable:hover .background {
    display: block;
}

#fileInput {
    display: none;
}

.profilePic {
    margin-top: -11%;
    margin-left: 44%;
}