<nav class="navbar">
</nav>
<div>
    <div class="form-div col-md-8">
        <div class="container-fluid col-md-8 form-div-2">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <div class="col-md-4"> <label>Enter Your Email</label></div>
                    <div class="col-md-6"> <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': f.email.invalid && (f.email.dirty || f.email.touched) }">
                        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="invalid-feedback d-block">
                            <div *ngIf="f.email.errors.required">Email is required.</div>
                            <div *ngIf="f.email.errors.email">Enter Valid email</div>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-md-4"> <label>Enter Password</label></div>
                    <div class="col-md-6"> <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': f.password.invalid && (f.password.dirty || f.password.touched)}">
                        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="invalid-feedback d-block">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>

                <div class="btn-div">
                    <a [routerLink]="['/signup']">Signup Here..</a>
                    <button class="btn btn-success">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>