.form-div {
    border: 1px solid #0c95f7;
    margin-top: 10%;
    margin-left: 18%;
}

.form-div-2 {
    margin-top: 30px;
}

.btn-div {
    margin-left: 281px;
    margin-bottom: 36px;
}

span {
    color: red;
    margin: 107px;
}

.navbar {
    height: 62px;
    background-color: #3C4992;
}

body {
    background-color: #CACACA;
}