.hide {
    display: none;
}

.container {
    margin-top: 6%
}

.navbar {
    height: 62px;
    background-color: #3C4992;
}

body {
    background-color: #CACACA;
}

.fab {
    width: 60px;
    height: 60px;
    background-color: #f44336;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    font-size: 36px;
    line-height: 59px;
    color: white;
    text-align: center;
    position: fixed;
    right: 81px;
    bottom: 50px;
    transition: all 0.1s ease-in-out;
}

.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

.btn {
    float: right;
}

.main-div {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    position: relative;
}

.formDiv {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 40px;
    box-shadow: 0 0 15px rgb(236, 234, 234);
    padding: 0 15px 0 15px;
    /* border: 1px solid #0c95f7; */
}

.row {
    margin-top: -1%;
}

.material-spinner {
    margin-left: 561px;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: red;
}

h1 {
    font-family: initial;
    color: white;
}

.spinner-border {
    position: fixed;
    margin-left: 558px;
    margin-top: 193px;
}

.update-btn {
    margin-right: 10px;
    margin-bottom: 20px;
}